@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
  position: relative;
}

/* LAYOUT */
header {
  position: relative;
  height: 10vh;
}

main {
  height: 90vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid green; */
}

.left {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.font-size {
  font-size: 2em;
}

.container {
  margin-bottom: 3em;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.inputProp {
  margin-bottom: 2em;
  height: 40px;
  width: 85%;
  font-size: 2.2rem;
  font-weight: 600;
}

.button {
  height: 40px;
  width: 10%;
  position: inherit;
}

.button--green {
  background-color: green;
  color: white;
  height: 40px;
  width: 10%;
  /* position: inherit; */
}

.button--red {
  background-color: red;
  color: white;
  height: 40px;
  width: 10%;
}

.right {
  width: 40rem;
  font-size: 2rem;
  position: relative;
  top: -1em;
}

.name-input {
  margin-top: 1em;
  margin-bottom: 3em;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
}

.again {
  position: absolute;
  top: 20%;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

#greet {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  margin-bottom: 2em;
}

#game_over {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  margin: 1em 0;
}

@media screen and (max-width:1600px) {

.left {
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.font-size {
  font-size: 1.8em;
}

.marginBottom {
  margin-bottom: 1.5em;
  height: 57px;
}

.btn {
  font-size: 1.8rem;
  padding: 1.5rem 2.5rem;
}

}



